@model LMSLexicon20.Models.ViewModels.DeleteActivityViewModel

@{
    ViewData["Title"] = "Ta Bort Aktivitet";
}

<h2 class="bg-dark shadow-lg rounded-lg font-weight-bold text-light p-4">TA BORT AKTIVITET</h2>
<h4 class="text-danger mt-3">Vill du ta bort aktiviteten?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasDeadline)
        </dt>
        <dd class="col-sm-10">
            @if (Model.HasDeadline)
            {
                <span>Ja</span>
            }
            else
            {
                <span>Nej</span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityType.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="btn-group btn-group-xs">
            <button type="submit" class="btn btn-sm btn-danger">
                <i class="fas fa-times"></i>
                <span>Ta bort</span>
            </button>
            <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Module.CourseId" class="btn btn-sm btn-secondary">
                <i class="fas fa-ban"></i>
                <span>Avbryt</span>
            </a>
        </div>
    </form>
</div>
