@model IEnumerable<LMSLexicon20.Models.ViewModels.ActivityListViewModel>

@{
    ViewData["Title"] = "Aktivitet";
}

<h2 class="bg-dark shadow-lg rounded-lg font-weight-bold text-light p-4">AKTIVITETSLISTA</h2>
@*<p>
        <a class="btn btn-info" asp-action="Create">SKAPA NY AKTIVITET</a>
    </p>*@


    <div class="text-success blink_me">
        @TempData["SuccessText"]
    </div>
    <div class="text-danger blink_me">
        @TempData["FailText"]
    </div>
    <div class="bg-dark card">
        <table class="table table-responsive-md table-light table-striped">
            <thead class="thead-dark">
                <tr class="d-flex">
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>  
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.HasDeadline)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.Module.Name)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.ActivityType.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                  <tr class="d-flex">
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.HasDeadline)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.Module.Name)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.ActivityType.Name)
                    </td>
                    <td class="col-md-2">
                        <div class="row btn-group btn-group-sm">
                            <a asp-controller="Activities" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger a-btn-slide-text">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                <span>Ta bort</span>
                            </a>
                            <a asp-controller="Activities" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary a-btn-slide-text">
                                <i class="fas fa-edit" aria-hidden="true"></i>
                                <span>Ändra</span>
                            </a>
                        </div>
                    </td>
            </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Courses" asp-action="Index">Tillbaka till kurs</a>
    </div>
