@model EditCourseViewModel

@{
    ViewData["Title"] = "REDIGERA";
}


<h2 class="bg-dark shadow-lg rounded-lg font-weight-bold text-light p-4">REDIGERA KURSEN</h2>
<div class="text-danger blink_me">
    @TempData["FailText"]
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Teacher)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Teacher != null)
                {
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.Teacher.Id">@($"{Model.Teacher.FirstName} {Model.Teacher.LastName}")</a>
                }
                else
                {
                    <span>Ingen. <a asp-controller="Users" asp-action="AddTeacherToCourse" asp-route-id="@Model.Id">Lägga till en lärare</a></span>
                }
            </dd>
        </dl>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    <a asp-action="Details" asp-route-id="@Model.Id">Tillbaka till kursen</a> |
    <a asp-action="Index">Tillbaka till kurslistan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
