@model IEnumerable<CourseIndexViewModel>


@{
    ViewData["Title"] = "Kurslista";
}


<h2 class="bg-dark shadow-lg border rounded-lg font-weight-bold text-light p-4">KURSLISTA</h2>

<div id="mainbackgroundcolor" class="rounded-lg">
    @* <h1 class="rounded-top p-3" id="searchindex">@ViewData["Title"]</h1>*@
    @*<div class="container pb-1">
            <a asp-action="Create">
                <input type="submit" value="Lägg till kurs" class="btn btn-primary" />
            </a>
        </div>*@
    <form method="get" asp-controller="Courses" asp-action="Index" class="text-light border rounded-lg my-3">
        <div class="input-group">
            <input type="text" class="form-control" name="filterSearch" placeholder="Sök på namn..." />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">&#128270; Sök</button>
            </div>
        </div>
    </form>

    <div class="bg-dark card">
        <table class="table table-responsive-md table-light table-striped">
            <thead class="thead-dark">
                <tr class="d-flex">
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.Name)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["OptionOne"]" class="text-info">&#8645;</a>
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.StartDate)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["OptionThree"]" class="text-info">&#8645;</a>
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.EndDate)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["OptionTwo"]" class="text-info">&#8645;</a>
                    </th>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="col-md-2">
                        <a asp-action="Create" class="btn btn-sm btn-primary a-btn-slide-text">
                            <i class="fas fa-plus-circle" aria-hidden="true"></i>
                            Lägg till kurs&nbsp;<i class="fas fa-university"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="d-flex">
                        <td class="col-md-2">
                            <a asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td class="col-md-4">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="col-md-2">
                            <div class="row btn-group btn-group-sm">
                                <a asp-controller="Courses" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger a-btn-slide-text">
                                    <i class="fas fa-times" aria-hidden="true"></i>
                                    <span>Ta bort</span>
                                </a>
                                <a asp-controller="Courses" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary a-btn-slide-text">
                                    <i class="fas fa-edit" aria-hidden="true"></i>
                                    <span>Ändra</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
