@model LMSLexicon20.Models.ViewModels.UserDeleteViewModel

@{
    ViewData["Title"] = "Ta bort användare";
}

<h2 class="bg-dark shadow-lg border rounded-lg font-weight-bold text-light p-4">TA BORT ANVÄNDARE</h2>
<h4>Är du säker på att du vill radera användaren?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegDate)
        </dd>
    </dl>

    <form asp-action="DeleteUserConfirmed">
        <input type="hidden" asp-for="Id" />
        <input class="btn btn-danger" type="submit" value="Radera" />
        @*<a class="btn btn-secondary" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id">Avbryt</a>*@
        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id">Avbryt</a>
    </form>
</div>
