@model UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Course != null)
            {
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id">@Model.Course.Name</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.Id">Radera</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Redigera</a> |
    <a asp-action="List">Tillbaka till listan</a>
</div>
