@model IEnumerable<UserListViewModel>

@{
    ViewData["Title"] = "Användarlista";
}

<h2 class="bg-dark shadow-lg border rounded-lg font-weight-bold text-white p-4">ANVÄNDARLISTA</h2>
<form method="get" asp-controller="Users" asp-action="List" class="text-light border rounded-lg my-3">
    <div class="input-group">
        <input type="text" class="form-control" name="filterSearch" placeholder="Sök på namn eller email..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">&#128270;Sök</button>
        </div>
    </div>
</form>

<div class="bg-dark card">
    <table class="table table-responsive-md table-light table-striped">
        <thead class="thead-dark">
            <tr class="d-flex">
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.UserRole)<span> </span><a asp-action="List" asp-route-sortOrder="@ViewData["OptionOne"]" class="text-info">&#8645;</a>
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.FullName)<span> </span><a asp-action="List" asp-route-sortOrder="@ViewData["OptionTwo"]" class="text-info">&#8645;</a>
                </th>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.Email)<span> </span><a asp-action="List" asp-route-sortOrder="@ViewData["OptionThree"]" class="text-info">&#8645;</a>
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.CourseName)<span> </span><a asp-action="List" asp-route-sortOrder="@ViewData["OptionFour"]" class="text-info">&#8645;</a>
                </th>
                <th class="col-md-3">
                    <a asp-action="User" class="btn btn-sm btn-primary a-btn-slide-text">
                        <i class="fas fa-plus-circle" aria-hidden="true"></i>
                        Lägg till en Lärare&nbsp;<i class="fas fa-university"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
             <tr class="d-flex">
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                <td  class="col-md-2">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="col-md-3">
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Email)
                        </a>
                </td>
                <td  class="col-md-2">
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.CourseId">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </a>
                </td>
                <td class="col-md-3">
                    <div class="row btn-group btn-group-sm">
                        <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary a-btn-slide-text">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                            <span>Ändra</span>
                        </a>
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary a-btn-slide-text">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                            <span>Detäljer</span>
                        </a>
                        <a asp-controller="Users" asp-action="DeleteUser" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger a-btn-slide-text">
                            <i class="fas fa-times" aria-hidden="true"></i>
                            <span>Ta bort</span>
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
