@model LMSLexicon20.Models.ViewModels.TeacherIndexViewModel
@{
    ViewData["Title"] = "Välkommen";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-md">
            <div id="teacherHeader" class="media rounded p-4">
                <img class="mr-3 rounded" src="~/Images/loginavatar.png" width="100" />
                <div class="media-body">
                    <h3>Välkommen @Model.FullName!</h3>
                    <p>Det här är din profil där dina senaste aktiviteter och inlämningar visas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3"></div>
    <div class="row px-5">
        <div class="col-md-6">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">Aktiviteter i denna kurs med deadline (så länge)</div>
                <div class="card-body">
                    @foreach (var item in Model.Assignments)
                    {
                        //if item har dokument uppladdade
                        <div>@Html.DisplayFor(Model => item.Name)</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row my-3"></div>
    <div class="row px-5">
        <div class="col-md-6">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">Schema vecka @Model.GetWeekNumber()</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        @for (int i = 0; i < 7; i++)
                        {
                            <li class="list-group-item">
                                <b>
                                    @DateTime.Now.AddDays(i).DayOfWeek
                                    @DateTime.Now.AddDays(i).ToString("dd'/'M")
                                </b>
                                <ul class="list-group">
                                    @foreach (var item in Model.WeeklyActivities)
                                    {
                                        //om gällande datum är >= än enddate - skriv ut
                                        //slutar en dag för tidigt!
                                        @if (DateTime.Now.AddDays(i).Day <= item.EndDate.Day
                                          && DateTime.Now.AddDays(i).Day >= item.StartDate.Day)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                @Html.DisplayFor(modelItem => item.Name)
                                                @*@Html.DisplayFor(modelItem => item.StartDate)
                                                    @Html.DisplayFor(modelItem => item.EndDate)*@
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>


