@model LMSLexicon20.Models.ViewModels.TeacherIndexViewModel

<div class="card border-primary">
    <div class="card-header bg-primary text-white">Aktivitet</div>
    <div class="card-body">
        <b class="d-flex  justify-content-between align-items-center">
            <span>@Html.DisplayNameFor(Model => Model.Assignments)</span>
            <span>Deadline</span>
        </b>
        @* assignments-accordion *@
        <div class="accordion" id="accordion">
            @foreach (var item in Model.Assignments)
            {
                //card for item
                <div class="card border-0 m-0 ">
                    @*header/collapse-button*@
                    <div class="d-flex  justify-content-between align-items-center my-2" id="@String.Format($"heading{item.Id}")">
                        <span class="float-left ">
                            @Html.DisplayFor(Model => item.Name)

                            @if (item.Documents.Count() > 0)
                            {
                                <a class="btn badge badge-pill btn-success ml-1"
                                   data-toggle="collapse" data-target="@String.Format($"#collapse{item.Id}")"
                                   asp-controller="Users" asp-action="ShowDocuments" asp-route-id="@item.Id"
                                   data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="replace"
                                   data-ajax-update="@String.Format($"#collapse{item.Id}")">
                                    @item.Documents.Where(d => d.UserId != null).Count()
                                    <span>av</span>
                                    @Model.StudentsInCourse
                                </a>
                            }
                        </span>
                        <span class="float-right">
                            @item.EndDate.ToString("dd'/'M")
                        </span>

                    </div>
                    @*content*@
                    <div id="@String.Format($"collapse{item.Id}")" class="collapse" data-parent="#accordion"></div>
                </div>
            }
        </div>
    </div>
</div>