@model LMSLexicon20.Models.ViewModels.DetailModuleViewModel

@{
    ViewData["Title"] = "Modulöversikt";
}

    <h2 class="bg-dark shadow-lg border rounded-lg font-weight-bold text-light p-4">MODULÖVERSIKT</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Id)
            </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Redigera</a> <br />
    <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id">Tillbaka till kurs</a>
</div>
