@model IEnumerable<LMSLexicon20.Models.ViewModels.IndexModuleViewModel>

@{
    ViewData["Title"] = "Modullista";
}

 <h2 class="bg-dark shadow-lg border rounded-lg font-weight-bold text-light p-4">MODUL LISTA</h2>
<div class="text-success blink_me">
    @TempData["SuccessText"]
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Course.Id">
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>


        </tr>
        }
    </tbody>
</table>
